################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Griffless/.vs/StreamingDemo/v15/Server/sqlite3
/Griffless/FruitDB/FruitDB.dbmdl
/Griffless/FruitDB/FruitDB.jfm
